@import 'bootstrap/scss/bootstrap';

body {
    font-family: "Circular-Std", sans-serif;
    --input-active-color: #4243bf;
    --input-background-color: #f3f4f9;
    --input-disabled-color: #dde0ed;
}